.cache
.idea
composer.phar
composer.lock
output
vendor
tags
atlassian-ide-plugin.xml

composer.lock
coverage
docker-compose.override.yml
profiler
test-results
.phpunit.cache
.phpunit.result.cache
.php-cs-fixer.cache

test/performance/rest-interface/.vagrant/
test/performance/rest-interface/config/tripod-config-*.json
