.cache
.idea
composer.phar
composer.lock
output
vendor
tags
atlassian-ide-plugin.xml

composer.lock
test-results

test/performance/rest-interface/.vagrant/
test/performance/rest-interface/config/tripod-config-*.json
