includes:
  - vendor/phpstan/phpstan-phpunit/extension.neon

parameters:
  level: 8
  bootstrapFiles:
    - src/resque/compat.inc.php
    - test/unit/mongo/mocks/Cursor.php
  stubFiles:
    - phpstan/mongodb.stub
  tips:
    treatPhpDocTypesAsCertain: false
  ignoreErrors:
    - identifier: assign.propertyType
      message: '# Resque_Job\.$#'
      reportUnmatched: false
    - identifier: class.notFound
      message: '# Resque_Job\.$#'
      reportUnmatched: false
    - identifier: missingType.iterableValue
      reportUnmatched: false
  paths:
    - src
    - test
    - phpstan
  excludePaths:
    - src/resque/compat.inc.php
    - test/unit/mongo/mocks
services:
  -
    class: Tripod\PHPStan\MongoDocumentReturnTypeExtension
    tags:
      - phpstan.broker.dynamicMethodReturnTypeExtension
